<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %} Hacklog{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta name="keywords" content="{% block keywords %}{% endblock %}"/>
    <meta name="author" content="{% block author %}{% endblock %}"/>
    {% block style %} {% endblock %}
    {% block headScripts %} {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<footer>
    {% block footerScripts %}{% endblock %}
</footer>
</body>
</html>